# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
build-storybook.log
chromatic.log

# Dependency directories
node_modules
.pnp
.pnp.js

# Build / distribution
dist
dist-ssr
storybook-static
src/style-dictionary-dist
*.local
*.tgz

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Chromatic diagnostics and reports
chromatic-build-*.xml
chromatic-diagnostics.json
