@use '../../../style-dictionary-dist/variables.scss';

.module {
  color: #{variables.$color-text-default-primary};
  background-color: #{variables.$color-background-default-primary};
  border-radius: #{variables.$radius-200};
  border: #{variables.$stroke-border} solid #{variables.$color-border-default-primary};
  padding: #{variables.$space-400};

  &:disabled {
    color: #{variables.$color-text-disabled-primary};
    background-color: #{variables.$color-background-disabled-default};
    border-color: #{variables.$color-border-disabled-default};
    cursor: not-allowed;
  }
}
