@use "../../../style-dictionary-dist/variables.scss";

.choice-field-group {
  display: flex;
  flex-direction: column;
  gap: #{variables.$space-200};
  border: none;
  padding: 0;
  margin: 0;

  &.disabled {
    opacity: 0.6;
  }

  &.error {
    .legend,
    .required {
      color: #{variables.$color-text-danger-default};
    }
  }

  &.vertical {
    .options {
      flex-direction: column;
    }
  }

  &.horizontal {
    .options {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .legend {
    font-weight: 500;
    color: #{variables.$color-text-default-primary};
    padding: 0;
    margin-bottom: #{variables.$space-100};
  }

  .required {
    color: #{variables.$color-text-danger-default};
    margin-left: #{variables.$space-100};
  }

  .description {
    color: #{variables.$color-text-default-secondary};
    margin: 0 0 #{variables.$space-100};
  }

  .options {
    display: flex;
    gap: #{variables.$space-200};
  }

  .errorMessage {
    color: #{variables.$color-text-danger-default};
    margin: #{variables.$space-100} 0 0;
    font-size: 0.875rem;
  }
}
